* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monaco;
    font-size: 12px;
    color: #666666;
}

li {
    list-style: none;
}

#wrap {
    width: 100%;
}

#title {
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 1024px;
    border: 1px solid #CCCCCC;
    margin: 5px auto;
}

#content {
    width: 1024px;
    margin: 0 auto;
}

#BejHeader {
    height: 20px;
    border: 1px solid #CCCCCC;
    text-align: center;
}

#BejField {
    margin-top: 5px;
    width: 354px;
    height: 574px;
    border: 1px solid #CCCCCC;
}

#BejSys {
    width: 300px;
    height: 100px;
    border: 1px solid #CCCCCC;
}

#BejHall {
    margin-top: 5px;
    width: 300px;
    height: 494px;
    border: 1px solid #CCCCCC;
    text-align: center;
}

.inline {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.button {
    padding: 5px;
    background: #EFEFEF;
    border: 1px solid #CCCCCC;
    width: 130px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 2px;
    color: #454545;
    cursor: pointer;
}

.button:hover {
    background: #DEDEDE;
    border: 1px solid #AAAAAA;
}

.roomLi {
    padding-left: 5px;
    background: #EFEFEF;
    border: 1px solid #CCCCCC;
    margin: 5px;
    border-radius: 2px;
    color: #454545;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.roomLi:hover {
    background: #DEDEDE;
    border: 1px solid #AAAAAA;
}

.selected {
    background: #DEDEDE;
    border: 1px solid #AAAAAA;
}

.BejBlocks {
    height: 40px;
    width: 40px;
    border: 1px solid #CCCCCC;
    margin-top: 2px;
    margin-left: 2px;
}

.orange {
    background-image: url('image/element.png');
    background-position: 10px 10px;
}

.red {
    background : #FF3030;
}

.white {
    background : #FCFCFC;
}

.yellow {
    background : #FFD700;
}

.blue {
    background : #6495ED;
}

.purple {
    background : #7D26CD;
}

.green {
    background : #7CFC00;
}

.grey {
    background : #A8A8A8;
}
